{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url(../images/background.jpg);
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
    font-size: 25pt;
    text-align: center;
    margin-top: 20rem;
    border: 2px solid #000;
    padding: 1rem;
    width: 65%;
}

h1::after {
    content: "|";
    margin-left: 2px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}